doctype html
html
    head
        - var versionString = '?v=' + now;
        - var title = 'Yuluthu' + (title ? ' | ' + title : '')
        title=title
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" + versionString)
        link(rel='stylesheet', href='/stylesheets/style.css'+ versionString)
        link(rel='stylesheet', href='/stylesheets/spacing.css'+ versionString)
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css" + versionString)
        each item in (pageCSS ? pageCSS : [])
            link(rel="stylesheet", href=item + versionString)

        script(src="https://code.iconify.design/1/1.0.7/iconify.min.js" + versionString)
        script(src="jquery/jquery.min.js" + versionString)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="bootstrap/js/bootstrap.min.js" + versionString)
        script(src="javascripts/core.js")
        each item in (pageScripts ? pageScripts : [])
            script(src="javascripts/" + item + versionString)

    body
        div(class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow")
            a(class="navbar-brand col-md-3 col-lg-2 mr-0 px-3") Yuluthu
        div(class="container-fluid")
            div(class="row")
                nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
                    div(class="sidebar-sticky pt-3")
                        ul(class="nav flex-column")
                            li(class="nav-item")
                                a(class="nav-link" href="/")
                                    span(class="iconify feather" data-icon="clarity:home-line" data-inline="false")
                                    | Home
                            li(class="nav-item")
                                a(class="nav-link" href="upload") 
                                    span(class="iconify feather" data-icon="clarity:upload-cloud-line" data-inline="false")
                                    | Upload
                            li(class="nav-item")
                                a(class="nav-link" href="/gallery")
                                    span(class="iconify feather" data-icon="clarity:image-gallery-line" data-inline="false")
                                    | Gallery
                main(class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main")
                    block content
                